<footer class="bg-primary body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img src='/logo.svg' alt='logo' class="h-8"/> 
          <span class="ml-3 text-3xl text-white">Codigo Alpha</span>
        </a>
        <p class="mt-2 text-sm text-white">Contribuyendo a mejorar el contenido de habla hispano sobre tecnología.</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      </div>
    </div>
  </footer>