---
const { src, alt } = Astro.props;
---
<div>
    <img src={src} alt={alt} />
</div>

<style>
    div {
        margin: 20px auto;
        max-width: 75%;
        max-height: 75%;
        object-fit: cover;
    }
    img {
        border-radius: 10px;
    }
</style>