<div class="">
    <h2 class="text-xl font-small my-3">Bootcamps gratuitos</h2>
    
    <div class="my-3">
        <img 
            class="w-full rounded-md" 
            src="https://i.ytimg.com/vi/wTpuKOhGfJE/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLB7q1jzhBYyrTuSMjodJPVw5fj5qw"
            alt="Midudev Bootcamp | Youtube">
    </div>
</div>