<div class="">
    <h2 class="text-xl font-small my-3">Musica para programar</h2>
    <div class="my-3">
        <a href="https://www.youtube.com/watch?v=0ucdLWYhdAc&ab_channel=NateGentile" target="_blank">
            <img class="h-36 rounded-md" src="/img/music-nate-gentile.jpg" alt="Nate Gentile Youtube | Music">
        </a>
    </div>

    <div class="my-3">
        <a href="https://www.youtube.com/watch?v=p0OH206z9Wg&t=2169s&ab_channel=midudev" target="_blank">
            <img class="h-36 rounded-md" src="/img/music-midudev.jpg" alt="Midudev Youtube | Music">
        </a>
    </div>

</div>